body {
    width: 75%;
    margin: 0 auto;
    font-family: 'Courier', sans-serif;
    background-color: mintcream;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    background-color: green;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.1em;
    border: 1px solid gainsboro;
}

h3 {
    color: dimgrey;
    font-size: 1.4em;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.index-button {
    margin-top: 70px;
}

.title {
    margin-top: 70px;
    text-align: center;
    color: dimgrey;
    margin-left: 400px;
}

.title-content {
    margin: 0;
    padding: 0;
}

.form-title {
    width: 265px;
    border-bottom: 2px solid dimgrey;
}

.form-item {
    padding-bottom: 28px;
}

.form-label {
    font-weight: 500;
}

input,
.btn {
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 30px;
}

.btn {
    background-color: green;
    color: white;
    text-align: center;
}

.cheese-conatiner {
    margin: 0 auto;
}

.form-cheese {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-submit {
    font-size: 1.1em;
    margin-left: 5px;
    width: 160px;
    height: 35px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.form-input {
    width: 400px;
}

.window-content {
    display: none;
    position: absolute;
    left: 21.5%;
    top: 20%;
    width: 1000px;
    height: 350px;
    background-color: rgb(182, 233, 199);
    border-radius: 20px;
    border: 1px solid rgb(245, 237, 237);
}

.window-text-content {
    font-size: 2.2em;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 100px;
}

.window-button {
    margin-left: 38%;
    width: 25%;
    height: 10%;
    bottom: 50px;
    background-color: green;
    border-radius: 10px;
    border-width: 0;
    font-size: 1.2em;
    text-align: center;
    color: white;
}