body {
    width: 75%;
    margin: 0 auto;
    font-family: 'Courier', sans-serif;
    background-color: mintcream;
    font-size: 1.5em;
}

header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    color: dimgrey;
    font-size: 1.4em;
}

.title {
    text-align: center;
    color: dimgrey;
    margin-right: 350px;
}

.add-button {
    margin-top: 38px;
    background-color: green;
    height: 35px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.35em;
    border: 1px solid gainsboro;
}

.index-button {
    width: 200px;
    font-family: 'Courier', sans-serif;
}

.edit-button {
    margin-left: 20px;
    width: 85px;
}

.button-link {
    padding-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

input,
.btn {
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 30px;
}

.btn {
    background-color: green;
    color: white;
    text-align: center;
}

.find-cheese {
    width: 300px;
}

.find-title {
    width: 235px;
    border-bottom: 2px solid dimgrey;
    margin-bottom: 15px;
    margin-top: 50px;
}

.form-input_find {
    width: 230px;
    margin-top: -100px;
    margin-bottom: 15px;
}

.btn.find,
.btn.clear {
    width: 110px;
    font-size: 0.8em;
}

.btn.clear {
    background-color: salmon;
}

.count-common-price,
.sort-cheeses {
    width: 320px;
}

.count-common-price {
    margin-top: 80px;
}

.price-conatiner {
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    width: 280px;
    border-bottom: 2px solid dimgrey;
}

.price-bottom-row {
    padding-bottom: 10px;
    margin-bottom: 0;
}

.sort {
    margin: 30px 0 0 0px;
    width: 250px;
    height: 40px;
    font-size: 0.85em;
}

main {
    display: flex;
    flex-direction: row;
    width: 75%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
}

img {
    background-color: wheat;
    width: 300px;
    border-radius: 70px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid gainsboro;
    border-radius: 25px;
    width: 350px;
    margin-top: 15px;
    padding-top: 15px;
    margin-left: 250px;
}

.li-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
}

.btn.delete {
    width: 80px;
    text-align: center;
    font-size: 0.9em;
    background-color: salmon;
}

.btn.edit {
    width: 80px;
    text-align: center;
    font-size: 0.9em;
}

.operations-container {
    position: fixed;
    display: none;
    text-align: center;
    background-color: rgb(182, 233, 199);
    height: 500px;
    top: 200px;
    left: 600px;
    width: 700px;
    border-radius: 30px;
    border: 1px solid rgb(245, 237, 237);
}

.form-cheese {
    margin-top: 130px;
    font-size: 1.2em;
}

.form-label {
    color: dimgrey;
}

.form-item {
    margin-bottom: 10px;
}

.btn-submit {
    border: none;
    font-size: 1.1em;
    margin-left: 5px;
    width: 160px;
    height: 35px;
}

.window-content {
    display: none;
    position: fixed;
    left: 31.5%;
    top: 27%;
    width: 700px;
    height: 350px;
    background-color: rgb(182, 233, 199);
    border-radius: 20px;
    border: 1px solid rgb(245, 237, 237);
}

.window-text-content {
    font-size: 2.2em;
    text-align: center;
    margin-top: 125px;
    margin-bottom: 40px;
}

.window-button {
    margin-left: 38%;
    width: 25%;
    height: 10%;
    bottom: 50px;
    background-color: green;
    border-radius: 10px;
    border-width: 0;
    font-size: 1.2em;
    text-align: center;
    color: white;
}